@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes yeah {
  0%   {
    transform: rotate(0deg);
  }
  50%  {
    transform: rotate(-45deg) scale(2,2);
  }
  100% {
    transform: rotate(0deg);
  }
}